{% extends 'uniProyectoBundle::layout.html.twig' %}


{% block cuerpo %}
    <h1>categorias creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorias') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
